<!doctype html>
<html lang="en" xmlns="http:/>/www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Crystal Designworks - View All Posts</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
       
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="..">Crystal Designworks</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                        <a class="nav-item nav-link" onclick="location.href='..'" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Home
                    </a>
                    
                    
                    <a class="nav-item nav-link" onclick="location.href='submitPost'" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Write Blog
                    </a><a class="nav-item nav-link" onclick="location.href='viewAllPosts'" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        View Blogs
                    </a>
                    
                    <a class="nav-item nav-link" onclick="location.href='aboutMe'" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        About Me
                    </a>
                    <a class="nav-item nav-link active" onclick="location.href='contact'">Contact<span class="sr-only">(current)</span></a>
                    
                </div>
            </div>
        </nav>
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
    </head>
    <body>
        <main>
            <h1>Contact Crystal Designworks</h1>
                <p>Required fields are marked with an asterisk*</p>
			<form method="post" action="confirmContact.html" style="padding-left: 50px;">
				<label for="myName">* Name</label>
                                <input type="text" name="myName" id="myName" required="required" placeholder="your full name"><br>
                                <label for="myEmail">* E-mail</label>
				<input type="email" name="myEmail" id="myEmail" required="required" placeholder="johnsmith@email.com"><br>
                                <label for="hear"> How did you hear about us?</label><br>
				<input list="heard" name = "hear" id="hear">
				<datalist id="heard">
					<option value="Bing">
					<option value="Google">
					<option value="Facebook">
					<option value="Friend">
					<option value="Radio Ad">
				</datalist><br>
                                <label for="myComments">* Question or Concern</label><br>
				<textarea name="myComments" id="myComments" rows="2" cols="20" required="required" placeholder="What is your question?"></textarea><br>
				<input type="submit" value="Send Now">
			</form>
		</main>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
    <footer>
	<small><i>Copyright &copy; 2021 Java Brewers.</i></small>
</html>